* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 0px;
}

.messageDiv {
  min-height: 60px;
}

.description {
  white-space: pre-wrap;
}



.time-block {
  text-align: center;
  border-radius: 15px;
  /* line-height: 1.2; */
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}



form {
  margin-top: 2px;
}


form div {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}

.hourDiv {
  background-color: #ffffff;
  color: #000000;
  font-size: larger;
  font-weight:bolder;
  border-top: 1px dashed #000000;
  justify-content: right;
}



.past {
  background-color: #d3d3d3;
  border: solid 1px #7a7a7a;
}

.present {
  background-color: #ff6961;
  border: solid 1px #a3261f;
}

.future {
  background-color: #77dd77;
  border: solid 1px #1a681a;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  line-height: 1.4;
  border: 1px solid black;
  margin-right: 2px;
  padding: 10px;
}


.saveBtn {
  border: 1px solid #016378;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  justify-content: center;
}

.saveBtn:hover > i {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveBtn:hover {
  cursor: pointer;
  background-color: #0589a7;
  border: solid 3px #004555;

}


i {
  font-size: 25px;
}









